
.dropdown{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: white;
    z-index: 1111;
}
#lbp {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}



span{
    font-family: 'Poppins', sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

h1,button,p{
    font-family: 'Poppins', sans-serif;
}


.discount{
    position: relative;
}
.discount:after{
    content: '';
    width:80%;
    position: absolute;
    height:1px;
    left:50%;
    background-color: #BB3A7D;
    top:55%;
    transform: translate(-50%,-50%);
}
.provider_image{
    width: 2.75rem !important;
}
.pro-item{
    border:1px #fff solid;
    
    border-radius: 40px;
}
.paddings{
    padding:10px 45px 0px 45px;
}
.pro-item:hover{
    border:1px #BB3A7D solid;
}
.pro-item:hover .badges{
    display: block;
}
.pro-item:hover .addCart{
    display: block;
}
.paddings svg:hover circle {
    fill:#BB3A7D;
}
.paddings svg:hover path {
    fill:#fff;
}
.badges{
border-top-right-radius: 45px;
border-bottom-right-radius: 45px;
}

.carousel-inner{
    background: linear-gradient(358.5deg, rgba(0, 0, 0, 0.77) 1.43%, rgba(0, 0, 0, 0.4) 101.15%, #000000 101.16%);
}


.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}
.carousel-item {
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}
.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    background-color: #14ABA7;  /*Set to match the Tailwind colour you want the active one to be */
}
.carousel-indicators .carousel-bullet{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.35);
}







.select2-selection--single{
    background: linear-gradient(180deg, #BB3A7D 0%, #107774 100%) !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius:10px !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center  !important;
}
.select2-selection__rendered{
        color:white !important;
 
}
.select2-container {
    justify-self: stretch;
    align-self: stretch;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top:50% !important;
    transform: translateY(-50%) !important;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items:center;
    background: url('../imgs/placeholder 1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px !important;
    height: 20px !important;
    right: 7px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color : transparent transparent transparent transparent !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b:after{
    content:'';
 
}
.select2-dropdown{
    width:250px !important;
    transform: translateX(-54%) !important;
    border-radius:  12px !important;
    padding-left:5px !important;
    padding-right:5px !important;
    padding-top:5px !important;
    padding-bottom:5px !important;
    margin-top: 4px !important;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25) !important;
}
.select2-search__field{
    border-radius:  12px !important;
    margin-bottom: 3px !important;
}
.select2-search__field:after{
    content: '';
    background: url('../imgs/icons/Vector.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.select2-search__field:focus {
    outline: none;
    box-shadow: 0px 0px 2px #0066ff;
  }
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background-color: #F6F6F6 !important;
    color: #BB3A7D !important;
}
.select2-container--default .select2-results__option--selected{
    background-color:#fff !important;
}
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
    width: 6px; 
    background-color: #F6F6F6 !important;
  }

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track {
    background: #F6F6F6;        /* color of the tracking area */
  }

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
    background-color: #BB3A7D;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #BB3A7D;  /* creates padding around scroll thumb */
  }